@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/core/lib/less/variables";
@import "@blueprintjs/table/lib/css/table.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 100vw;
  padding: 0 1rem;
  background: @pt-dark-app-background-color;
}



.table-wrap {
  // height: 550px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.layout {

  display: grid;
  grid-template-rows: max-content 1fr 60px;
  height: 100vh;
  overflow: hidden;
}

.h-full {
  height: 100%,
}

.w-full {
  width: 100%,
}

.relative {
  position: relative;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}